<div class="modal-header">
  <div class="modal-title">编辑用户 - {{ record.name }} - 信息</div>
</div>
<nz-spin *ngIf="!record" class="modal-spin"></nz-spin>
<nz-tabset *ngIf="record">
  <nz-tab nzTitle="基础信息">
    <sf #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="record" button="none"> </sf>
  </nz-tab>
  <nz-tab nzTitle="角色">
    <sf #sfRoles mode="edit" [schema]="rolesSchema" [formData]="record" button="none"> </sf>
  </nz-tab>
</nz-tabset>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="submit" nzType="primary" [nzLoading]="saving" (click)="save()" [disabled]="!valid">保存</button>
</div>
